      html,
      body {
        font-family: Arial, sans-serif;
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
        width: 100%;
        position: absolute;
      }
      .container {
        height: 100%;
        position: relative;
}
.mapContainer {
  top: 50px;
  height: 800px;
  left: 250px;
  position: absolute;
  right: 0px;
  overflow: hidden;
}
      }
      input {
        font-size: 12px;
      }
      h1 {
        color: #525454;
        font-size: 22px;
        margin: 0 0 10px 0;
        text-align: center;
      }
      hr {
        background: #D0D7D9;
        height: 1px;
        margin: 20px 0 20px 0;
        border: none;
      }

    #filterHeader {
      font: 500 18px/1.5 Helvetica, Verdana, sans-serif;
    }

    .filter {
      font: 200 18px/1 Helvetica, Verdana, sans-serif;
    }

}

.input-field input[type=search]:focus {
  background-color: #f5f5f5 !important;
}

    #listContainer {
      height: 100%;
      left: 0px;
      position: absolute;
      right: 0px;
      max-width: 200px;
    }
      } .text {
        font-size: 12px;
      }
      }
      #places-search{
        width: 84%;
      }
      @media screen and (max-width: 300px) {
  #name {
    font-size: 16px;
  }
  .filter {
    font-size: 14px;
  }
  li {
    font-size: 14px;
  }
  li a:hover {
    font-size: 16px;
  }
  .mapContainer {
    left: 170px;
  }
}